<style>
     
    h1 {
            font-family: 'Tangerine', serif;
            font-size: 35px;
            color: black;
        }
    h3 {
            font-family: 'Tangerine', serif;
            font-size: 35px;
            color: black;
        }


</style>

<h1>Welcome @Session["user"] </h1>
<h1>Test</h1>
<div>
    <div>
        <h3>Find The Next term series</h3>
        <h4> 1: 3,8,13,18 ? </h4>
        <input type="radio" id="answer" name="g1" value="correct" />23 <br />
        <input type="radio" id="answer" name="g1" value="wrong" />22 <br />
        <input type="radio" id="answer" name="g1" value="wrong" />25 <br />
    </div>
        <div style="margin-left: 246px;margin-top: -108px;">
        <h4> 2: A,Z,C,Y,E,X,G ?  </h4>
        <input type="radio" id="answer" name="g2" value="correct" />W <br />
        <input type="radio" id="answer" name="g2" value="wrong" />Z<br />
        <input type="radio" id="answer" name="g2" value="wrong" />V<br />
    </div>
        <div style="margin-left: 484px;margin-top: -108px;">
        <h4> 3: How Many 4 Are Appear? 2431423431531532632744  </h4>
        <input type="radio" id="answer" name="g3" value="wrong" />5 <br />
        <input type="radio" id="answer" name="g3" value="wrong" />6 <br />
        <input type="radio" id="answer" name="g3" value="correct" />4<br />
    </div>
    <div style="margin-left: 972px;margin-top: -108px;">
        <h4> 4: Find Odd One Out </h4>
        <input type="radio" id="answer" name="g4" value="wrong" />Hour <br />
        <input type="radio" id="answer" name="g4" value="correct" />Days <br />
        <input type="radio" id="answer" name="g4" value="wrong" />Minute<br />
    </div>

    </div>
    <br />
     <h3>find Opposite of Meaning</h3>
<div>
    <div>
        <h4> 5:Extrincic  ? </h4>
        <input type="radio" id="answer" name="g5" value="correct" />Serve <br />
        <input type="radio" id="answer" name="g5" value="wrong" />Shallow <br />
        <input type="radio" id="answer" name="g5" value="wrong" />Insidential <br />
    </div>
    <div style="margin-left: 246px;margin-top: -108px;">
        <h4> 6:Ambiguity ?  </h4>
        <input type="radio" id="answer" name="g6" value="wrong" />Contemination <br />
        <input type="radio" id="answer" name="g6" value="wrong" />Fester<br />
        <input type="radio" id="answer" name="g6" value="correct" />Transparency<br />
    </div>
        <div style="margin-left: 484px;margin-top: -108px;">
        <h4> 7:Incitment</h4>
        <input type="radio" id="answer" name="g7" value="correct" />Turmoil <br />
        <input type="radio" id="answer" name="g7" value="wrong" />Calm <br />
        <input type="radio" id="answer" name="g7" value="wrong" />Excitement<br />
    </div>
    <div style="margin-left: 972px;margin-top: -108px;">
        <h4> 8: Gruesome </h4>
        <input type="radio" id="answer" name="g8" value="wrong" />Dark <br />
        <input type="radio" id="answer" name="g8" value="wrong" />rude <br />
        <input type="radio" id="answer" name="g8" value="correct" />Beautiful<br />
    </div>

</div>
<br />
<h3>Methametics</h3>
<div>
    <div>
        <h4> 9:Which decimel number<br /> is Perfect Square ? </h4>
        <input type="radio" id="answer" name="g9" value="wrong" />.9 <br />
        <input type="radio" id="answer" name="g9" value="correct" />.09 <br />
        <input type="radio" id="answer" name="g9" value="wrong" />.00009 <br />
    </div>
    <div style="margin-left: 246px;margin-top: -108px;">
        <h4> 10: 65% of 600 is ?  </h4>
        <input type="radio" id="answer" name="g10" value="wrong" />230 <br />
        <input type="radio" id="answer" name="g10" value="correct" />360<br />
        <input type="radio" id="answer" name="g10" value="wrong" />390<br />
    </div>
    <div style="margin-left: 484px;margin-top: -108px;">
        <h4> 11: The square root of .0121 </h4>
        <input type="radio" id="answer" name="g11" value="wrong" />.11 <br />
        <input type="radio" id="answer" name="g11" value="correct" />.011 <br />
        <input type="radio" id="answer" name="g11" value="worng" />.00011<br />
    </div>
    <div style="margin-left: 972px;margin-top: -108px;">
        <h4> 12:which Nuumbers have odd root </h4>
        <input type="radio" id="answer" name="g12" value="wrong" />6 <br />
        <input type="radio" id="answer" name="g12" value="correct" />9 <br />
        <input type="radio" id="answer" name="g12" value="wrong" />36<br />
    </div>

</div>
<br />

<div>
    <div>
        <h4> 13:Who is Called a<br />father of calculus ? </h4>
        <input type="radio" id="answer" name="g13" value="correct" />Issac <br />
        <input type="radio" id="answer" name="g13" value="wrong" />Aristotlee <br />
        <input type="radio" id="answer" name="g13" value="wrong" />Herodutos <br />
    </div>
    <div style="margin-left: 246px;margin-top: -108px;">
        <h4> 14:Inch is equal to ?  </h4>
        <input type="radio" id="answer" name="g14" value="correct" />2.54 <br />
        <input type="radio" id="answer" name="g14" value="wrong" />2.3<br />
        <input type="radio" id="answer" name="g14" value="wrong" />2.4<br />
    </div>
    <div style="margin-left: 484px;margin-top: -108px;">
        <h4> 15: 0.003 x 0.02 =  </h4>
        <input type="radio" id="answer" name="g15" value="correct" />0.00006 <br />
        <input type="radio" id="answer" name="g15" value="wrong" />0.6<br />
        <input type="radio" id="answer" name="g15" value="wrong" />0.006<br />
    </div>
    <div style="margin-left: 972px;margin-top: -108px;">
        <h4> 16: |-4|+|4|-4 + 4 </h4>
        <input type="radio" id="answer" name="g16" value="correct" />8 <br />
        <input type="radio" id="answer" name="g16" value="wrong" />4 <br />
        <input type="radio" id="answer" name="g16" value="wrong" />0<br />
    </div>

</div>

<br />
<div>
    @*<div>
                <h4> 17: 3,8,13,18 ? </h4>
                <input type="radio" id="17" name="17" value="23" />23 <br />
                <input type="radio" name="17" value="22" />22 <br />
                <input type="radio" name="17" value="25" />25 <br />
            </div>
            <div style="margin-left: 246px;margin-top: -108px;">
                <h4> 18: A,Z,C,Y,E,X,G ?  </h4>
                <input type="radio" id="18" name="18" value="W" />W <br />
                <input type="radio" name="18" value="Z" />Z<br />
                <input type="radio" name="18" value="V" />V<br />
            </div>
            <div style="margin-left: 484px;margin-top: -108px;">
                <h4> 19: How Many 4 Are Appear? 2431423431531532632744  </h4>
                <input type="radio" id="19" name="19" value="5" />5 <br />
                <input type="radio" name="19" value="6" />6 <br />
                <input type="radio" name="19" value="4" />4<br />
            </div>
            <div style="margin-left: 972px;margin-top: -108px;">
                <h4> 20: Find Odd One Out </h4>
                <input type="radio" id="4" name="20" value="hour" />Hour <br />
                <input type="radio" name="20" value="days" />Days <br />
                <input type="radio" name="20" value="minute" />Minute<br />
            </div>

        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="submit" onclick="return handleClick();" class="submit" />
        </div>
    </div>
</div>


<script>

    function handleClick() {
        var amountCorrect = 0;
        for (var i = 1; i <=16; i++) {
            var radios = document.getElementsByName('g' + i);

            for (var j = 0; j < radios.length; j++) {
                var radio = radios[j];
                if (radio.value == "correct" && radio.checked) {
                    amountCorrect++;
                }
            }
        }
       // alert("Correct Responses: " + amountCorrect);
        document.writeln(" Your Correct Response is Correct Responses: " + amountCorrect);
        
    }
    @*@Session["user"];
        @Html.ActionLink("Press Ok", "Index", "Home");*@
</script>




