@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Email:et.apptitute.edu.pk</h1>

<br />

<h1>UAN : 111-0022-00-111</h1>

<br />

<h1>Phone Number : 03152838428</h1>

