
@{
    ViewBag.Title = "software";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


<style>
    .color {
        background-color: black;
    }

    h1 {
        font-family: 'Tangerine', serif;
        font-size: 48px;
        color: white;
        margin-left: 80px;
    }

    .btn {
         margin-top: -976px;
        margin-left: 522px;
        font-family: 'Tangerine', serif;
        font-size: 25px;
        color: white;
        background-color: black;
        border: 1px solid black;
    }

        .btn:hover {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
</style>

    <div class="color">

        <div>

            <h1>
                A four year beachlor program with 40 + courses Provide a BE Degree<br />
                (Beachlor of Engineering in Software Engineering). Eigth Semester and six cources
                per Semester.
            </h1><br /><br />

            <img style="width:100%; height:300px;border: 1px solid black;
    border-radius: 50px;" src="~/images/04-multi-screen-960x300.png" />
          
            <h1>
                A Test Based On a Mcqs An Open Source Mcqs Test Are Based on
                gernel knowledge<br /> 50 passing marks out of 100. <br /><br />
            </h1>

            <h1>For more Details Contact Us. et.apptitute.edu.pk</h1>
            
                <input onclick="location.href = '@Url.Action("register","Registration")'"  type="submit" value="Get Registered" class="btn  btn-danger glyphicon-arrow-down btn-primary" />
            
        </div>

    </div>

