
@{
    ViewBag.Title = "optional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
            font-family: 'Tangerine', serif;
            font-size: 48px;
            color: black;
        }

</style>


<h2>Thankyou @Session["user"] For Registration</h2>
<h2>You have Send An Connfirmation Email Soon</h2>
